<h1>search view2</h1>

<% books.each do |book| %>
  <h2><%= link_to "#{book[:title].titleize}", book_path(book[:isbn]) %></h2>
  <ul>
    <li>  <%= book[:author] %>  </li>
    <li>  <%= book[:description] %>  </li>
    <li>  <%= book[:isbn] %>  </li>
    <li>  <img src="<%= book[:bookimage] %> "> </li>
  </ul>
<% end %>
