<%= form_for book_club do |f| %>

<% if book_club.errors.any? %>
  <%= render partial: "shared/errors", locals: { errors: book_club.errors }  %>
<% end %>

  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class='field'>
    <%= f.label "Enter book registration id here:" %>
    <%= f.number_field :book_id %>
  </div>

  <div class='field'>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class='field'>
    <%= f.label :goal %>
    <%= f.text_field :goal %>
  </div>

  <%= f.submit 'Submit Form' %>
<% end %>
