<%= form_for @user do |f| %>

  <div class='field'>
    <%= f.label :username %>
    <%= f.text_field :username%>
  </div>

  <div class='field'>
    <%= f.label :email %>
    <%= f.email_field :email%>
  </div>

  <div class='field'>
    <%= f.label :password %>
    <%= f.password_field :password%>
  </div>

  <div class='field'>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation%>
  </div>

  <%= f.submit 'Submit Form' %>




<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>

<% end %>
