<div class="btn-container">
  <h1>Choose Some Members to Follow...</h1>
  <%= link_to 'Back', recommendations_path, class:"btn btn-primary" %>
  <%= link_to 'Finished', books_path, class:"btn btn-primary" %>
  <div class="btn finished-form-btn">
    <form class="finished" action="books" method="get">
      <input type="submit" name="button" value="Finished" class="btn btn-primary" >Finished</input>
    </form>
  </div>
</div>
  <% @users.each do |user| %>
  <div class="user-follow-wrapper">
    <section class="user-data-<%= user.id %>">
      <section class='other-user-stats'>
        <%= render partial: 'shared/stats', locals: {user: user} %>
      </section>

      <section class='follow-button'>
        <%= render partial: 'follow_form', locals: {user: user} %>
      </section>
    </section>
    <br>
  </div>
  <% end %>
