<h3> <%= @user.username.capitalize %>'s Profile </h3>

<%= link_to 'Edit Profile', edit_user_path %>
<%= link_to('Delete', user_path(current_user), method: :delete, data: {confirm: "Are you sure you want to delete your account? This change can not be undone."}) %>

<br><br>

<div class="stats">
  <p>
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </p>
  <p>
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </p>
</div>
