<%= link_to "Back", user_path(@user), class: "btn user-show-btn" %>

<div class="col-md-8">
  <h3><%= @title %></h3>
  <% if @users.any? %>

    <ul class="users follow">
      <% @users.each do |user| %>
        <li class="relationship-card">
          <a href="<%= user_path(user) %>" class="username"><%= user.username %></a>
          <% if user.reading_lists.any? %>
            <p class="title">Check out a sample from their library:</p>
            <div class="book-show">
              <%= render partial: "books/single_book", locals: {book: user.one_of_their_books} %>
            </div>
          <% else %>
            <p class="title">It looks like this user's library is empty...</p>
            <div class="book-show-empty">
              <p><strong>Image Unavailable</strong></p>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
