<% if logged_in? %>
  <div class="stats">
    <h4> <%= user.username.capitalize %>'s Community </h4>
    <a href="<%= following_user_path(user) %>">
      <strong class="stat following">
        <%= user.following.count %>
      </strong>
      following
    </a>
    <a href="<%= followers_user_path(user) %>">
      <strong class="stat followers">
        <%= user.followers.count %>
      </strong>
      followers
    </a>
  </div>
<% end %>
