<div class="button-container">
  <h4>Mark a book to add it to your library</h4>

  <% unless @existing_list.read_status != nil %>
    <%= form_for(current_user.reading_lists.build, remote: true) do |f| %>
      <div>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= hidden_field_tag :book_id, @book.id %>
        <%= hidden_field_tag :read_status, "want_to_read" %>
      </div>
      <%= f.submit "Want to Read", class: 'read-btn' %>
    <% end %>
  <% end %>

  <% unless @existing_list.read_status == "currently_reading" || @existing_list.read_status == "finished_reading" %>
    <%= form_for(current_user.reading_lists.build, remote: true) do |f| %>
      <div>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= hidden_field_tag :book_id, @book.id %>
        <%= hidden_field_tag :read_status, "currently_reading" %>
      </div>
      <%= f.submit "Currently Reading", class: 'read-btn' %>
    <% end %>
  <% end %>

  <% unless @existing_list.read_status == "finished_reading" %>
    <%= form_for(current_user.reading_lists.build, remote: true) do |f| %>
      <div>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= hidden_field_tag :book_id, @book.id %>
        <%= hidden_field_tag :read_status, "finished_reading" %>
      </div>
      <%= f.submit "Finished Reading", class: 'read-btn' %>
    <% end %>
  <% end %>

</div>
