<h1> Top Selling Books</h1>

<% @books.each do |book| %>
  <h2><%= book[:title].titleize %></h2>
  <ul>
    <li>  <%= book[:author] %>  </li>
    <li>  <%= book[:description] %>  </li>
    <li>  <%= book[:isbn] %>  </li>
    <li>  <img src="<%= book[:book_cover] %> "> </li>
    <li>  <%= link_to("View Book", book_path(book[:isbn])) %>  </li>
  </ul>
<% end %>
