<h1> Top Selling Books</h1>

<% @books.each do |book| %>
  <h2><%= book[:title].titleize %></h2>
  <ul>
    <li>  <%= book[:author] %>  </li>
    <li>  <%= book[:description] %>  </li>
    <li>  <%= book[:isbn] %>  </li>
    <li> <%= link_to(image_tag(book[:book_cover]), book_path(book[:isbn])) %> </li>
  </ul>
<% end %>
