<main>
  <div class="show-wrapper">
    <div class="row no-gutters">
      <div class="col-3">
        <div class="book-show-cover">
          <img src="<%= @book.book_cover %>" alt="<%= @book.title %>">
        </div>
      </div>
      <div class="col-9 book-show-info">
        <h2 class="book-title">
          <%= @book.title %>
        </h2>
        <h4>
          <%= @book.author %>
        </h4>
        <div class="description">
          <p>Description:
            <%= @book.description %>
          </p>
        </div>
        <button class="share-btn">
          <%= link_to "Share this book?", conversations_path(share: @book.isbn) %>
        </button>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-3">
        <p>Page Count:
          <%= @book.page_count %>
        </p>
        <p>Page Count:
          <%= @book.publisher %>
        </p>
      </div>
      <div class="col-9"></div>

    </div>

    <% if logged_in? %>
      <%= render partial: "books/read_status", locals: {book: @book, existing_list: @existing_list} %>
    <% else %>
      <%= render partial: "books/new_user_buttons" %>
    <% end %>

    <input type='hidden' value=<%=@book.isbn%> id="book_rating">

    <div class="review-wrapper">
      <% if @rating != nil %>
        <div><input type="hidden" ,="," value='<%=@rating.stars%>' id="rating"></div>
      <% else %>
        <div><input type="hidden" ,="," value='0' id="rating"></div>
      <%end%>
      <% if logged_in? && @existing_list && @existing_list.read_status == "finished_reading" %>
        <%= render partial: "reviews/reviews_form", locals: {book: @book, review: @review, rating: @rating}%>
      <% else %>
      <% end %>
    </div>
  </div>
</main>
