<!-- <pre><%#= @book.to_yaml %></pre> -->
<main>
  <h2> <%= @book.title %> </h2>
  <h4> <%= @book.author %> </h4>
  <img src="<%= @book.book_cover %>" alt="<%= @book.title %>">

  <% if logged_in? %>
    <%= render partial: "books/read_status" %>
  <% end %>

  <div class="description">
    <p> <%= @book.description %> </p>
  </div>
</main>
