<!DOCTYPE html>
<html>
  <head>
    <title>BookHippo</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
  </head>

  <body>

    <header class="site-header">

      <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="/">
          <%= image_tag("bookhippo_logo.png", width:'200px')  %>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
              <%#= link_to "Home", root_path, class:"nav-link" %>
            </li> -->

            <% if current_user %>
              <li class="nav-item">
                <%= link_to "My Account", user_path(current_user), class:"nav-link active" %>
              </li>
              <li class="nav-item">
                <%= link_to "Logout", :logout, method: :delete, class:"nav-link"%>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Register", new_user_path, class:"nav-link active"  %>
              </li>
              <li class="nav-item">
                <%= link_to "Login", :login, class:"nav-link" %>
              </li>
            <% end %>
          </ul>
          <%= form_tag( search_for_path, :method => "get", id: "search-form", class: "form-inline my-2 my-lg-0") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search books, people", class: "form-control mr-sm-2" %>
          <%= submit_tag "Search", id:"search-submit-btn", class: "btn btn-outline-success my-2 my-sm-0", :name => nil %>
        <% end %>
      </div>
    </nav>
    <!-- <h1 class="logo">BookHippo</h1> -->

    <!-- <% unless @user && @user == current_user %>
      <section class="current-user-stats">
        <%#= render partial: 'shared/stats', locals: {user: current_user} %>
      </section>
    <% end %> -->
  </header>

  <% flash.each do |key, message| %>
    <div class="flash-<%= key %>"><%= message %></div>
  <% end %>

  <%= yield %>
  <footer>
    <div class="container footer-wrapper">
      <div class="row no-gutters">
        <div class="col-sm-4 col-xs-12 footer-left">
          <%= image_tag("bookhippo-footer.png", width:'200px')  %>
        </div>
        <div class="col-sm-4 col-xs-12">
        </div>
        <div class="col-sm-4 col-xs-12 footer-right">
          <p>Made by Cordell, Eric, James &amp; Kyle</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
